dt, dd {
    padding: 5px;
}

.proImg {
    padding-left: 30%;
    padding-right: 30%;
}
.name {
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}
.email {
    padding: 5px;
}
.email {
    padding: 5px;
}
