.PurchaseHeader {
    background: lightsteelblue;
    padding: 10px;
}
.addBtn {
    margin: 10%;
}
.PurchaseHeader {
}
.PurchaseTable {
    margin: 5px;
    background: #fff;
}

.PurchaseInfo {
    background: #fff;
    margin: 5px;
}
.PurchaseSummery {
    background: lightsteelblue;
    text-align: center;
}
.PurchaseSummery table thead tr td{
    border: 1px solid #000;
}
.PurchaseSummery table tbody tr td {
    border: 1px solid #000;
}.PurchaseSummery table {
    border:1px solid #000;
}
 .submitArea {
 }
 .content-body {
     background: #F1F1F1;
 }